.register{
    width: 100vw;
    height: 100vh;
    background-color: rgb(1 133 109);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper{
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.registerLeft,.registerRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appName{
    font-size: 5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.registerDescription{
    font-size: 2rem;
    color: bisque;
}
.registerBox{
    height: 300px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.registerInput{
    height:30px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;

}
.registerInput:focus{
    outline: none;
}
.registerButton{
    height:30px;
    border-radius: 10px;
    border: none;
}
.registerRegister{
    height:30px;
    border-radius: 10px;
    border: none;
}
.registerForgot{
    text-align: center;
}