.post{
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 10px 10px 10px -5px rgb(82, 80, 80);
    margin: 2rem 0;
}

.postWrapper{
    padding :1rem;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.topLeft{
    display: flex;
    align-items: center;
}

.poster{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

}
.username{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0rem 1rem;
}
.postDate{
    font-size: small;
}

.postCenter{
    margin: 20px 0px;

}
.postImage{
    width:100%;
    margin-top: 1.5rem;
    max-height: 500px;
    object-fit: contain;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomLeft{
    display: flex;
    align-items: center;
}
.bIcon{
    margin-right: 1rem;
    cursor: pointer;
}

.bCounter{
    font-weight: bold;    
}
.commentText{
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 15px;
    font-weight: bold;  
}